/* navbar */
#navbar {
    flex-direction: row;
    /* width: 100%; */
    overflow-x:clip;
}

#navbar ul li a {
    font-size: 20px;
    
}
#navbar ul li a:hover {
    border-radius: 0;
    background-color: black;
    color: white;
    
}
#navbar ul{
    flex-direction: column;
    position: absolute;
    background-color: #000000cb;
    top:100%;
    right:-136px;
    /* height: 200px; */
    margin: 0px;
    transition: 0.2s ease-out;
    opacity: 0;
    display:inline;
    
}
#navbar ul.active{
    opacity: 1;
    display:inline;
    right:0px;
}
.icons{
    display:flex;
    color: white;
    position:absolute;
    top: 20px;right: 20px;
    /* padding: 20px; */
    /* padding-right: 0; */
    gap: 40px;
    
}
#search-btn{
    cursor: pointer;
}
#bars-btn{
    display: block;
    cursor: pointer;
}

/* home */
.hold {
    font-size: 25px;
    padding: 0;
}

#home {
    padding: 3px 18px;
    height: 232px
}

#home::before {
    height: 380px;
    padding: 0px 0px;
    margin: 0px 0px;
    background-image: center center/cover;
}

#home p {
    font-size: 13px;
}

.btn {
    padding: 7px;
    font-size: 9px;
    top: 305px
}

/* about */
.pic {
    flex-direction: column;
}

.pic img {
    padding: 0px 0px;
}

/* service */
.servicec {
    flex-direction: column;
}

.box {
    margin: 30px 0px;
}